body {
	&.lock {
		overflow: hidden;
	}
}

.header {
	padding: 77px 0 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.header__wrapper {
		width: 100%;
		justify-content: space-between;
		align-items: center;
		border-radius: 140px;
		display: flex;
		background: #6a2e87;
		box-shadow: 0px 45px 30.6px -32px rgba(97, 37, 125, 0.4);
		padding: 20px 30px;

		// .header__logo {
		// 	width: 200px;
		// }
	}

	&.container {
		.menu {
			display: flex;
			align-items: center;

			.menu__body {
				display: flex;
				transition: opacity 0.3s, left 0.5s;
				width: 100%;
				border-radius: 50px;

				.header__nav {
					display: flex;
					gap: 50px;
					align-items: center;
					justify-content: space-between;
					padding: 22px 0px;

					.nav__item {
						display: flex;
						gap: 2px;

						&:nth-child(4) {
							padding: 0 12px;
						}
						.nav__link {
							color: #fff;
							text-align: center;
							line-height: 71.7%;
							transition: color 0.2s ease-in-out;

							&:hover {
								color: #ffc800;
							}

							@media (max-width: 992px) {
								font-size: 32px;
								line-height: 60px;
							}
						}
					}
					@media (max-width: 1200px) {
						gap: 20px;
					}

					@media (max-width: 992px) {
						flex-direction: column;
					}
				}
				@media (max-width: 992px) {
					z-index: 3;
					padding: 50px 30px;
					position: absolute;
					width: 100%;
					height: 100vh;
					background: radial-gradient(
						124.41% 181.27% at 118.96% 0%,
						#733c8f 0%,
						#793c8f 55.5%,
						#742e98 100%
					);
					top: 0;
					left: -100%;
					overflow: auto;
					opacity: 0;
					border: none;

					&.active {
						justify-content: center;
						opacity: 1;
						left: 0;
					}
				}
				@media (max-width: 768px) {
					padding-top: 70px;
					line-height: 50px;
				}
			}

			.wrapper__icon {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				overflow: hidden;
				.menu__icon {
					z-index: 5;
					display: block;
					position: relative;
					height: 24px;
					width: 40px;

					span {
						position: absolute;
						top: calc(50% - 2px);
						left: 0;
						height: 4px;
						width: 100%;
						background-color: #ffff;
						transition: all 0.5s ease-in-out;

						&:first-child {
							top: 0;
						}

						&:last-child {
							top: auto;
							bottom: 0;
						}
					}
				}
				&.active {
					span {
						opacity: 0;
						left: -60px;

						&:first-child {
							left: 0;
							top: 9px;
							transform: rotate(-225deg);
							opacity: 1;
						}

						&:last-child {
							left: 0;
							top: 9px;
							transform: rotate(225deg);
							opacity: 1;
						}
					}
				}
				@media (min-width: 993px) {
					display: none;
				}
			}
		}

		@media (max-width: 992px) {
			justify-content: flex-end;
			padding: 25px 0;
		}

		@media (max-width: 1200px) {
			padding: 20px;
		}
	}
}
