.swiper {
	overflow: initial !important;
	overflow-x: clip !important;
	box-shadow: 0px 98px 120.1px -69px rgba(0, 0, 0, 0.25);

	.swiper-button-prev {
		color: #000;
		transition: 0.2s;
		background: #fff;
		border-radius: 50%;
		display: flex;
		width: 50px;
		height: 50px;
		align-items: center;
		justify-content: center;
		transition: 0.2s;

		&:hover {
			background: #c3c3c3;
		}

		&::after {
			margin-right: 4px;
			font-size: 20px;
		}

		@media (max-width: 998px) {
			display: none;
		}
	}
	.swiper-button-next {
		color: #000;
		transition: 0.2s;
		background: #fff;
		border-radius: 50%;
		display: flex;
		width: 50px;
		height: 50px;
		align-items: center;
		justify-content: center;

		&:hover {
			background: #c3c3c3;
		}

		&::after {
			margin-left: 4px;
			font-size: 20px;
		}
		@media (max-width: 998px) {
			display: none;
		}
	}
	.swiper-pagination {
		margin-bottom: -50px;
		.swiper-pagination-bullet {
			width: 20px;
			height: 20px;
			background: #ffc800;
			opacity: 0.5;
			&.swiper-pagination-bullet-active {
				opacity: 1;
			}
			@media (max-width: 998px) {
				width: 10px;
				height: 10px;
			}
		}
		@media (max-width: 998px) {
			margin-bottom: -5vw;
		}
		@media (max-width: 768px) {
			margin-bottom: -7vw;
		}
	}
}

.slider__arrow {
	cursor: pointer;
	position: absolute;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	left: -25px;
	top: calc(50% - 66px);
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	transition: 0.2s;

	&:nth-last-child(1) {
		left: initial;
		right: -25px;
		img {
			transform: rotate(180deg);
		}
		&:hover {
			left: initial;
			background-color: #b1b1b1;
			transform: translateX(5px);
		}
	}

	&:hover {
		background-color: #b1b1b1;
		transform: translateX(-5px);
	}
	@media (max-width: 1200px) {
		transform: scale(0.85);
	}
	@media (max-width: 992px) {
		transform: scale(0.75);
	}
}

.swiper-slide img {
	border-radius: 20px;
}
