.advantages {
    position: relative;
    z-index: 2;

    .advantages__suplies {
        position: absolute;
        left: 0;
        width: 12%;
    }
    .advantages__promo {
        position: relative;
        height: fit-content;

        .promo__star {
            position: absolute;
            right: -2%;
            width: 8%;

            @media (max-width: 992px) {
                right: 0;
            }
        }
    }

    .advantages__blocks {
        display: flex;
        flex-direction: row;
        gap: 23px;
        padding-top: 30px;
        padding-bottom: 30px;

        .blocks__button {
            width: calc(33% - 15.3px);
            height: 188px;
            border-radius: 50px;
            background-size: cover;
            color: #fff;
            text-align: center;
            animation: rotate-btn 1.5s forwards ease-in-out;
            cursor: pointer;
            transform: scale(1);
            position: relative;
            z-index: 2;
            
            @media (max-width: 1200px) {
                height: 150px;
            }
            @media (max-width: 992px) {
                height: 120px;
            }
            @media (max-width: 768px) {
                width: 75%;
            }
            @media (max-width: 458px) {
                width: 97%;
            }

            span {
                display: block;
                font-family: Cera Condensed Pro;
                font-size: 50px;
                font-weight: 900;
                line-height: 85%;
                animation: rotate-span 1.5s forwards ease-in-out;
                padding: 5px;
                // animation-iteration-count: 1;
                @media (max-width:1200px) {
                    font-size: 40px;
                }
                @media (max-width:992px) {
                    font-size: 34px;
                }
                @media (max-width:768px) {
                    font-size: 30px;
                }
                @media (max-width:576) {
                    font-size: 20px;
                }
            }

            &:nth-child(1) {
                background: #5fdc64;
                background-image: url(/img/green-back.png);
            }
            &:nth-child(2) {
                background: #FFB803;
                background-image: url(/img/orange-back.png);

            }
            &:nth-child(3) {
                background: #EE3F3F;
                background-image: url(/img/red-back.png);

            }

            &:hover {
                transform: scale(2);
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }
    }
    .wrapper__picture {
        position: relative;
        

        img {
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}


@keyframes rotate-btn {
    0% {
    transform: rotate(0deg);
    }
    25% {
      transform: rotate(-18deg);
    }
    50% {
      transform: rotate(0deg);
      }
      75% {
        transform: rotate(6deg);
      }
      100% {
      transform: rotate(0deg);
      }
    }

@keyframes rotate-span {
    0% {
    transform: rotate(0deg);
    }
    25% {
      transform: rotate(24deg);
      }
      50% {
      transform: rotate(0deg);
      }
      75% {
        transform: rotate(-12deg);
      }
      100% {
      transform: rotate(0deg);
      }
    }
    