.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}
.catalog .catalog__article {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .catalog .catalog__article .article__paragraph {
    width: 100%;
  }
}
.catalog .catalog__article .fields {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  justify-content: center;
}
.catalog .catalog__article .fields .fields__item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  width: calc(25% - 22.5px);
}
.catalog .catalog__article .fields .fields__item .item__img {
  margin-bottom: 10px;
}
.catalog .catalog__article .fields .fields__item .item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.catalog .catalog__article .fields .fields__item .item__info .info__header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.catalog .catalog__article .fields .fields__item .item__info .info__header .info__title {
  color: #000;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 90%; /* 18px */
  margin-bottom: 6px;
}
.catalog .catalog__article .fields .fields__item .item__info .info__header .info__subtitle {
  color: #a1a1a1;
  font-family: Gilroy, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 18px */
  text-align: start;
}
.catalog .catalog__article .fields .fields__item .item__info .info__price {
  color: #783a90;
  white-space: nowrap;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%; /* 45px */
  text-transform: uppercase;
}
.catalog .catalog__article .fields .fields__item .last__item {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}
.catalog .catalog__article .fields .fields__item .last__item:hover .last__item__circle {
  background: #783a90;
  transform: translateX(20px);
}
.catalog .catalog__article .fields .fields__item .last__item:hover .last__item__circle path {
  stroke: #fff;
}
.catalog .catalog__article .fields .fields__item .last__item:hover .last__item__text {
  color: #783a90;
}
.catalog .catalog__article .fields .fields__item .last__item .last__item__text {
  color: #000;
  text-align: start;
  width: 100%;
  font-family: Gilroy, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 88%;
  margin-bottom: 29px;
  transition: color 0.2s ease-in-out;
}
.catalog .catalog__article .fields .fields__item .last__item .last__item__circle {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b9b9b9;
  border-radius: 50%;
  background: #fff;
  color: #783a90;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.catalog .catalog__article .fields .fields__item .last__item .last__item__circle svg {
  transform: rotate(180deg);
}
.catalog .catalog__article .fields .fields__item .last__item .last__item__circle svg path {
  stroke: #783a90;
}
@media (max-width: 1280px) {
  .catalog .catalog__article .fields .fields__item {
    width: calc(40% - 30px);
  }
}
@media (max-width: 992px) {
  .catalog .catalog__article .fields .fields__item {
    width: calc(50% - 30px);
  }
}
@media (max-width: 768px) {
  .catalog .catalog__article .fields .fields__item {
    width: 70%;
  }
}
@media (max-width: 476px) {
  .catalog .catalog__article .fields .fields__item {
    width: 100%;
  }
}
.catalog .catalog__article .button {
  padding: 14px 36px 12px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 43px;
  line-height: 130%;
}
@media (max-width: 992px) {
  .catalog .catalog__article {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
  }
}
.catalog .catalog__picture {
  width: 70%;
}
@media (max-width: 992px) {
  .catalog .catalog__picture {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .catalog {
    flex-direction: column-reverse;
  }
}
@media (max-width: 992px) {
  .catalog {
    align-items: flex-start;
  }
}

.wrapper__picture {
  position: relative;
  margin: 50px 0;
  display: flex;
  align-items: center;
}
.wrapper__picture .picture__globe {
  position: absolute;
  top: -300%;
  left: 0;
  width: 20%;
}
.wrapper__picture .picture__big-star {
  position: absolute;
  right: 0;
  width: 25%;
}
@media (max-width: 992px) {
  .wrapper__picture .picture__big-star {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .wrapper__picture {
    margin: 20px 0;
  }
}/*# sourceMappingURL=catalog.css.map */