.check-list {
    margin-bottom: 26px;

    .check-list__article {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }

    .check-list__selection {
        display: flex;
        gap: 30px;
        overflow-x: auto;
        padding-bottom: 20px;
//         -ms-overflow-style: none;
//       scrollbar-width: none;

//       &::-webkit-scrollbar {
//         width: 0;
//         height: 0;
//   }

        .selection__block {
            position: relative;
            z-index: 1;
            flex: 1;
            min-height: 438px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 50px;
            background-color: #0fb43d;
            padding: 20px;
            overflow: hidden;


            &:nth-child(1) {
                background-color: #0fb43d;

                .block__class {
                    background-color: #0aa736;
                }
            }
            &:nth-child(2) {
                background-color: #e7590a;

                .block__class {
                    background-color: #d25007;
                }
            }
            &:nth-child(3) {
                background-color: #ca3939;

                .block__class {
                    background-color: #bc2525;
                }
            }
            &:nth-child(4) {
                background-color: #d220a0;

                .block__class {
                    background-color: #be168f;
                }
            }

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                background: url(/img/grid.png) center;
                opacity: 0.6;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }

            .block__class {
                margin-left: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 43px;
                width: 155px;
                height: 50px;
                line-height: 130%;
            }

            .wrapper-item {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .block__item {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;

                    .item__name {
                        max-width: 192px;
                    }
                }
            }
            @media (max-width: 992px) {
                flex: initial;
                min-width: calc(33% - 20px);
            }
            @media (max-width: 768px) {
                min-width: calc(50% - 30px);
            }
            @media (max-width: 460px) {
                min-width: 100%;
            }
        }
        // @media (max-width: 992px) {
        //     flex: initial;
        //     width: calc(33% - 20px);
        // }
    }
}
